.card-ribbon {
  position: absolute;
  top: 10px;
  right: -5px;
  background-color: rgba(153, 153, 153, 0.84);
  border-radius: 2px 2px 0 2px;
  padding: 3px 5px;
  font-size: 12px;
  color: white;
  line-height: 1.4
}

.card-ribbon:after {
  content: '';
  position: absolute;
  border: 2px solid transparent;
  top: 100%;
  border-top-color: #7d7d7d;
  border-left-color: #7d7d7d;
  right: 0;
  transform: rotateX(45deg);
  transform-origin: top
}

.card-ribbon-pink {
  background-color: rgba(242, 93, 142, 0.84)
}

.card-ribbon-pink:after {
  border-top-color: #f25d8e;
  border-left-color: #f25d8e
}
