:root {
  --gray: rgba(153, 153, 153, 0.84);
  --darkGray: #7d7d7d;
  --pink: rgba(242, 93, 142, 0.84);
  --darkPink: #f25d8e;
}

.card-ribbon {
  position: absolute;
  top: 10px;
  right: -5px;
  background-color: var(--gray);
  border-radius: 2px 2px 0 2px;
  padding: 3px 5px;
  font-size: 12px;
  color: white;
  line-height: 1.4;
  &:after {
    content: '';
    position: absolute;
    border: 2px solid transparent;
    top: 100%;
    border-top-color: var(--darkGray);
    border-left-color: var(--darkGray);
    right: 0;
    transform: rotateX(45deg);
    transform-origin: top;
  }
}

.card-ribbon-pink {
  background-color: var(--pink);
  &:after {
    border-top-color: var(--darkPink);
    border-left-color: var(--darkPink);
  }
}
