doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title Card Ribbon
    link(rel="stylesheet", href="./card-ribbon.css")
    style.
      body {
        margin: 0;
        background-color: #f0f0f0;
        font-family: -apple-system, BlinkMacSystemFont,
             'avenir next', avenir,
             helvetica, 'helvetica neue',
             Ubuntu,
             'segoe ui', arial,
             sans-serif;
      }
      .card {
        width: 200px;
        margin: 0 auto;
        margin-top: 100px;
        background-color: white;
        border-radius: 4px;
        border: 1px solid #e2e2e2;
        position: relative;
      }
      .card-cover {
        width: 100%;
        height: 100px;
        background-size: cover;
        background-image: url(https://o68eee1f9.qnssl.com/image/github/57325617_p0.jpg);
        background-color: #f9f9f9;
      }
      .card-content {
        padding: 10px;
      }
      .card-title {
        margin: 0;
        font-size: 14px;
      }
      .card-tags {
        margin-top: 10px;
      }
      .card-tag {
        font-size: 12px;
        border: 1px solid #f25d8e;
        border-radius: 3px;
        color: #f25d8e;
        padding: 2px 5px;
        display: inline-block;
        margin-right: 5px;
      }
      .card-arrow {
        position: absolute;
        top: 20px;
        left: 110%;
        background-image: url(https://o68eee1f9.qnssl.com/image/github/arrow.png);
        background-size: cover;
        width: 138px;
        height: 78px;
      }
  body
    .main
      .card
        .card-ribbon 1023 people watching
        .card-cover
        .card-content
          h2.card-title Re：从零开始的异世界生活
          .card-tags
            .card-tag 奇幻
            .card-tag 战斗
            .card-tag 励志
        .card-arrow

